<div class="container text-center">
<div class="page-header"><h1>Contact Venue Share</h1></div>
	<div>
		<h4>Do you have any questions or concerns for Venue Share? </br></br>
		If so please contact one of the following:</h4>
		</br>
		<div class="col-md-4"></div>
		<div class="col-md-4">
		<ul class="list-group">
			<li class="list-group-item">Dusty Argyle: dusty@test.com</li>
			<li class="list-group-item">James Collier: james@test.com</li>
			<li class="list-group-item">Tigran Mnatsakanyan: tigran@test.com</li>
			<li class="list-group-item">Sam Trout sam@@test.com</li>
		</ul>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
