<div class="text-center">
<h1>Welcome to ROR-User-Template</h1>
<p>This saves dusty time so he doesn't have to recreate everything all the time</p>
<br>
<br>
<p>
  <%= link_to '<button class="btn btn-success btn-lg">Signup</button>'.html_safe, signup_url %>
  <%= link_to '<button class="btn btn-info btn-lg">Login</button>'.html_safe, login_url %>
</p>
</div>
