<div class="container text-center">
<div class="page-header"><h1>README:</h1></div>
<h3>Team: </h3> <h4> Dusty Argyle</h4>
	<div class="panel panel-default text-left">
		 <div class="panel-heading">Overview:</div>
		 <div class="panel-body">
			 This is a template to save time creating the basic user login/logout stuff.
		 </div>
		 <div class="panel-heading">TODOS:</div>
		 <div class="panel-body">
			 <ol>
				 <li>
					Add administrative user to template. 
				 </li>
			 </ol>
			</div>
	</div>
</div>
